<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>领赏</title>
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static//js/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="bannerBox">
        <div class="banner">
            <div class="swiper-container2 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/img/banner.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/img/banner1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/img/banner2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/img/banner3.jpg" alt="">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination2 swiper-pagination"></div>
            </div>
        </div>
        <div class="message">
            <div class="msglogo"><img src="/static/img/通知.png" alt=""></div>
            <div class="news">
                <div class="swiper-container1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="content">王伟文邀请好友获得20元</div>
                            <div class="time">2小时前</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">王伟文邀请好友获得30元</div>
                            <div class="time">3小时前</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">王伟文邀请好友获得40元</div>
                            <div class="time">4小时前</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">王伟文邀请好友获得50元</div>
                            <div class="time">5小时前</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">王伟文邀请好友获得60元</div>
                            <div class="time">6小时前</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">王伟文邀请好友获得70元</div>
                            <div class="time">7小时前</div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="task indexBase">
        <h1><i></i>悬赏任务</h1>
        <div class="taskbtn">
            <div>
                <img src="/static/img/下载试玩.png" alt="">
                <p>下载试玩</p>
            </div>
            <div>
                <img src="/static/img/微任务.png" alt="">
                <p>微任务</p>
            </div>
            <div>
                <img src="/static/img/办卡赚钱.png" alt="">
                <p>办卡赚钱</p>
            </div>
            <div>
                <img src="/static/img/赏有职.png" alt="">
                <p>赏有职</p>
            </div>
            <div>
                <img src="/static/img/旅游推广.png" alt="">
                <p>旅游推广</p>
            </div>
        </div>
        <div class="tasknum pr">
            <img src="/static/img/tasknumbnner.png" alt="">
            <div class="tasknumCont">
                    任务分享剩余 <span>1294</span>次
            </div>
        </div>
    </div>

    <div class="indexBase playRecommend">
        <h1><i></i>试玩推荐<div><span>下载APP试玩3分钟拿赏金</span></div></h1>
        <div class="playRecommendCot">
            <div class="playRecommendCotLogo"><img src="/static/img/图标1.png" alt=""></div>
            <div class="playRecommendCotText">
                <p class="title">钱咖安卓苹果试玩</p>
                <p class="money">单价1-3元(下载软件试玩3分钟)</p>
                <div class="playRecommendCotBtn">
                    <button>加入</button>
                    <p>32264人参与</p>
                </div>
            </div>
        </div>
        <div class="playRecommendCot">
            <div class="playRecommendCotLogo"><img src="/static/img/图标2.png" alt=""></div>
            <div class="playRecommendCotText">
                <p class="title">钱咖安卓苹果试玩</p>
                <p class="money">单价1-3元(下载软件试玩3分钟)</p>
                <div class="playRecommendCotBtn">
                    <button>加入</button>
                    <p>32264人参与</p>
                </div>
            </div>
        </div>
        <div class="playRecommendCot">
            <div class="playRecommendCotLogo"><img src="/static/img/图标3.png" alt=""></div>
            <div class="playRecommendCotText">
                <p class="title">钱咖安卓苹果试玩</p>
                <p class="money">单价1-3元(下载软件试玩3分钟)</p>
                <div class="playRecommendCotBtn">
                    <button>加入</button>
                    <p>32264人参与</p>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
        <div class="navBtw fl">
            <div class="active">
                <img src="/static/img/首页.png" alt="">
                <p>首页</p>
            </div>
            <div>
                <img src="/static/img/一键分享-未.png" alt="">
                <p>一键分享</p>
            </div>
        </div>
        <div class="navMid" onclick="openTast()">
            <img src="/static/img/发布按钮.png" alt="">
        </div>
        <div class="navBtw fr">
            <div>
                <img src="/static/img/收徒躺赢.png" alt="">
                <p>收徒躺赚</p>
            </div>
            <div>
                <img src="/static/img/我的-未.png" alt="">
                <p>我的</p>
            </div>
        </div>
    </div>
    <div id="mask">
        <div>
            <div>发布微任务</div>
            <div>发布悬赏招聘</div>
            <div class="mt16" onclick="closeTask()">取消发布</div>
        </div>
    </div>


</body>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/public.js"></script>
<script>
 
    var swiper2 = new Swiper('.swiper-container2', {
        speed: 1500,
        loop: true,
        autoplay: true,
        pagination: {
            el: '.swiper-pagination2',
        },
    });
    var swiper = new Swiper('.swiper-container1', {
        direction: 'vertical',
        speed: 1500,
        loop: true,
        autoplay: true,
        pagination: {
            clickable: true,
        },
    });
</script>

</html>